.smile-line,
.smile-line-white {
    position: relative;
    width: fit-content;
}

.smile-line::before,
.smile-line-white::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 6rem;
    background-image: url('../icons/smile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.smile-line-white::before {
    background-image: url('../icons/smile-white.svg');
}

.icon--happy {
    background-image: url('../icons/happy.svg');
}

.icon--html {
    background-image: url('../icons/html.svg');
}

.icon--user {
    background-image: url('../icons/user.svg');
}

.icon--apps {
    background-image: url('../icons/apps.svg');
}

.icon--sun {
    background-image: url('../icons/sun.svg');
}

.icon--moon {
    background-image: url('../icons/moon.svg');
}

.icon--mail {
    background-image: url('../icons/mail.svg');
}

.icon--phone {
    background-image: url('../icons/phone.svg');
}

.icon--download {
    background-image: url('../icons/download.svg');
}

.icon--linkedin {
    background-image: url('../icons/linkedin.svg');
}

.icon--send {
    background-image: url('../icons/send.svg');
}

.icon--briefcase {
    background-image: url('../icons/briefcase.svg');
}

.icon--briefcase-purple {
    background-image: url('../icons/briefcase-purple.svg');
}

.icon--github {
    background-image: url('../icons/github.svg');
}

.icon--ohmydev {
    background-image: url('../icons/logo-ohmydev.svg');
}

.icon--youtube {
    background-image: url('../icons/logo-youtube.svg');
}

.icon--facebook {
    background-image: url('../icons/logo-facebook.svg');
}

.icon--facebook-black {
    background-image: url('../icons/facebook-black.svg');
}

.icon--youtube-black {
    background-image: url('../icons/youtube-black.svg');
}

.icon--menu-burger {
    background-image: url('../icons/menu-burger.svg');
}

.icon--spy {
    background-image: url('../icons/spy.svg');
}

.f-animate-moving {
    animation: moving 3s infinite;
}

.button-shadow {
    box-shadow: 0 2px 25px #A12568;
}

.navbar-shadow {
    box-shadow: 0px 0px 8px 1px rgba(47, 50, 73, 0.5);
}

.f-animate-slide-to-right {
    animation: slideToRight 0.5s forwards;
}

.f-animate-slide-hide-right {
    animation: slideHideToRight 0.5s forwards;
}

@keyframes moving {
    0%,
    100% {
        transform: translate(-2%, -2%);
    }
    50% {
        transform: translate(2%, 2%);
    }
}

@keyframes slideToRight {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

@keyframes slideHideToRight {
    0% {
        right: 0%;
    }
    100% {
        right: -100%;
    }
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #161d2f #828282;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #82828241;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 13px;
    border: 0px none #ffffff;
}

.confetti-button:before,
.confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}